<app-card padding="small">
    <div class="flex items-center justify-between">
        <div class="flex gap-5 items-center">
            <i class="pi pi-calendar-clock text-primary"></i>
            <div>
                <h2 class="font-medium text-color">{{authService.getFamilyMemberName(workingTime().family_member)}}</h2>
                <p class="text-sm text-color-secondary">{{workingTime().time}} horas de trabalho por mês</p>
            </div>
        </div>
        <div class="rigth">
            <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
            <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" severity="secondary" variant="text"
                [rounded]="true" />
        </div>
    </div>
</app-card>