<div [ngClass]="[
    'bg-white', 
    'rounded-2xl shadow', 
    'w-full', 
    paddingClass(), 
    hover() ? 'hover:shadow-md cursor-pointer transition-shadow duration-300' : ''
  ]">
    <div class="header" [class.mb-2]="title()">
        <div>
            @if(title()){
                <h2 class="font-medium text-lg">{{title()}}</h2>
            }
        </div>
        <ng-content select="[header-right]"></ng-content>
    </div>
    <div [class]="class()">
        <ng-content></ng-content>
    </div>
</div>
