.input {
    all: unset;
    font-size: 1rem;
    color: var(--p-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.75rem;
    border: 1px solid var(--p-surface-300);
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    transition: color var(--p-inputtext-transition-duration), border-color var(--p-inputtext-transition-duration), outline-color var(--p-inputtext-transition-duration), box-shadow var(--p-inputtext-transition-duration);
    cursor: pointer;
    text-align: left;
    background-color: white;
    /* ou surface */
    height: 41px;
}

.input:hover {
    border-color: var(--p-inputtext-hover-border-color);
}

.input:focus {
    border-color: var(--p-inputtext-focus-border-color);
    box-shadow: var(--p-inputtext-focus-ring-shadow);
    outline: var(--p-inputtext-focus-ring-width) var(--p-inputtext-focus-ring-style) var(--p-inputtext-focus-ring-color);
}

.placeholder {
 color: var(--p-select-dropdown-color);   
}

i {
    color: var(--p-select-dropdown-color);
    margin-bottom: -2px;
}

.hover {
    padding: 10px;
    margin: -10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.hover:hover {
    background-color: var(--p-surface-100);

}