main {
    background-color: var(--page-background);
    padding: 15px;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 100px;
}

header {
    background-color: var(--page-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    height: 60px;
    width: 100%;
}

.fixed {
    top: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
}

@media (min-width: 768px) {
    .header-with-sidebar {
        left: 90px;
        width: calc(100% - 90px);
    }
}


.main-fixed {
    padding-top: 80px;
}

section {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}



@media (min-width: 768px) {
    .main-padding {
        padding-left: 90px;
    }
}