<app-page-template  [headerFixed]="true" [showSidebar]="false">
    <div header-left>
        <app-header-back title="Importar Transações" />
    </div>
    <div class="flex flex-col gap-5">
        <app-card [hover]="true" (click)="router.navigate(['import/import-ofx'])" >
            <h1 class="font-medium text-color">Importar OFX</h1>
            <p class="text-sm text-color-secondary">Importe informações de transações a partir de extratos bancários</p>
        </app-card>

    </div>
</app-page-template>