<main class="flex flex-col items-center justify-center min-h-screen text-center px-4">
    <app-logo class="mb-5" />

    <div class="bg-white rounded-2xl p-10 mb-5 w-[350px] max-w-[90%]">
        <h1 class="mb-5 text-color font-medium text-2xl">Criar uma conta</h1>

        <p-button [loading]="loadingGoogle()" severity="secondary" styleClass="w-full mb-4" (click)="onLoginGoogle()"
            variant="outlined">
            <img src="assets/images/google-icon.svg" alt="Google Icon" />
            Criar conta com o Google
        </p-button>

        <p class="text-xs text-slate-500">
            Ao criar uma conta, você concorda com nossos
            <a routerLink="/terms" class="text-primary-700 underline hover:opacity-80">Termos de uso</a>.
        </p>
    </div>

    <p class="text-sm text-slate-600">
        Já tem uma conta?
        <a class="text-primary-700 cursor-pointer font-medium" routerLink="/login">Fazer login</a>
    </p>
</main>
  