i {
    font-size: 12px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subtitle {
    font-size: 13px;
    white-space: nowrap;
    color: var(--p-text-muted-color);
}

