<app-dialog header="Adicionar categoria"  [(visible)]="service.visibleAddCategories" [fullScreen]="true" >
    <div class="flex flex-col gap-5">
        <div>
            <label>Tipo de transação</label>
            <app-select-transaction-type [(selectedType)]="service.transactionType"/>
        </div>
        <div>
            <label>Nome da categoria</label>
            <input type="text" pInputText (input)="changeNameStatus()" [(ngModel)]="name" class="w-full" />
            @if(nameError()){
            <small class="error">Adicione um nome</small>
            }
        </div>

        <app-select-color [(selected)]="colorId" />
    
        <app-select-icon [(selected)]="iconId" [color]="colorId()" />

    

        <p-button (click)="onSubmit()" [loading]="savingCategory()" [label]="savingCategory() ? 'Salvando' : 'Salvar'"
            [disabled]="name == '' ? true : false" styleClass="w-full" />
    </div>
</app-dialog>