<aside class="flex flex-row md:flex-col md:gap-3 justify-around md:justify-start shadow md:border-t-0 md:border-e border-solid border-surface items-center ">
   
   <app-logo class="w-10 h-auto mt-2 mb-5 hidden md:block"  />
        
   <app-sidebar-item title="Início" icon="pi-home" route="/home" materialIcon="home" />
   <app-sidebar-item title="Transações" icon="pi-receipt" route="/transactions" materialIcon="payments" />
   <app-sidebar-item title="Planejamento" icon="pi-compass" route="/budget" materialIcon="explore" />
   <!-- <app-sidebar-item title="Gráficos" icon="pi-chart-pie" route="/reports" /> -->
   <app-sidebar-item title="Mais" icon="pi-th-large" route="/all-resources" materialIcon="more_horiz" />
</aside>
