.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid transparent;
    border-top: 4px solid var(--p-primary-500);
    /* Substitua por sua variável ou cor desejada */
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}